header {
    background: #000;
    position: fixed;
    width: 100vw;
    padding:  15px 0;
}
header .header_contents{
    padding: 0 35px;
}
header .header_contents .header_wrap{
    
}

header .header_contents .header_wrap .logo{
    position: absolute;
    top: 20%;
    left: 60px;
}
header .header_contents .header_wrap .logo img{
    width: 70px;
}
header .header_contents .header_wrap .header_nav{
    
}
header .header_contents .header_wrap .header_nav ul{ 
    display: flex; justify-content: center;
}
header .header_contents .header_wrap .header_nav ul a{
    font-size:0.825rem;
    color: #fff;
    padding: 0 13.1px;
    font-weight: 600;
}

header .header_contents .header_wrap .header_nav ul .business{
    position: relative;
    border: solid 2px #F246AC;
    background: #F246AC;
    border-radius: 15px;
}
header .header_contents .header_wrap .header_nav ul .business:hover{
    background: #fff;color: #F246AC;
    border: #fff 2px solid;
}
/* header .header_contents .header_wrap .header_nav ul .business::after{
    content: "";
    width: 10px; height: 10px; 
    background-image: url(../images/ico_head_blank_w.svg);
    position: absolute; right: 0; top: 3px;
    background-size: cover;
} */
header .header_search {
    position: absolute;
    right: 170px;
    top: 30%;
}

header .header_search img{
    width: 21px;
    
}

header .leng{
    position: absolute;
    right: 70px;
    top: 30%;
}
header .leng a {color: #fff;}
header .leng .korean {
    font-weight: bold;
    text-decoration: underline;
}
main{
   padding-top: 49.2px;
}


main section .main_banner {
    display: flex; justify-content: space-between;
    padding: 0 34px;
    padding-top: 67px;
    padding-bottom: 86px;
}


























main .guide {
    width: 100%;
    padding: 0 33.7px;
    display: flex;
}

main .guide .guide_left {
    width: 25%; background: #000;
    padding: 28px 30px; position: relative;
}

main .guide .guide_left .guide_info p {
    font-size: 0.788rem; 
    color: #fff;
    margin-bottom: 9px;
}

main .guide .guide_left .guide_title {
    margin-bottom: 35px;
}
main .guide .guide_left .guide_title h1{
    font-size: 1.225rem; 
    color: #fff;
}

main .map {
    position: absolute;
    right: 26px;
    top: 44px;
}
main .map img{
    width: 81px;
}
main .guide_right {
    width: 75%; 
    padding: 28px 30px;
    background: #f8f8f8; 
    display: flex;
}
main .guide_right .guide_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

main .guide_right  .guide_info{
    width: 40%;
}
main .guide_right  .guide_info p {
    margin-bottom: 9px;
    font-size: 0.75rem;
    font-weight: 600;
}
main .guide_right  .guide_info span {
    font-size: 1.225rem;
    line-height: 27px;
    font-weight: 600;
}

main .guide_right .list_contents .parking {
    width: 38.6px;
}
main .guide_right .list_contents .map_sub {
    width: 35.6px;
}
main .guide_right .list_contents .amenities {
    width: 49.6px;
}
main .guide_right .list_contents a {
    display: flex;
    padding-bottom: 7px;
    border-bottom: 1px solid #000;
}
main .guide_right .list_contents h2 {
    font-size: 0.875rem; padding-top: 30px;
    padding-left: 10px;
}
